html {
    font-family: 'Consolas', 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #222031;
    background-image: linear-gradient(to top right, #000000, #222031);
}

::selection {
    background: #8d8d8d;
}
  
.lee__container {
    overflow: hidden;
    background-color: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 50vh;
    border-radius: 1vh;
}

.chatlog__container {
    min-width: 100%;
    min-height: 92.5%;
    max-height: 94%;
    overflow: auto;
}

.chatlog__message__container {
    /* white-space: pre-line; */
    margin: 0.6vh 0.5vh 0vh 0.5vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 2vh;
    border-radius: 0.4vw;
    font-size: 1.5vh;
}

.chatlog__message__container:last-child {
    margin-bottom: 1vh;
}

.message__identifier {
    font-weight: bold;
    margin-left: 0.5vw;
}

.message__container {
    margin: 0.1vh 0.3vw 0vh 0.4vw;
    word-break: break-all;
}

.lee__message__container {
    background: #56668348;
}

.user__message__container {
    background: #e6e5e55b;
}

.footer__container {
    min-width: 100%;
    bottom: 0;
    position: absolute;
    background: #c9c9c9;
}

.github__container {
    justify-content: center;
    height: 1vh;
    padding: 1vh;
    margin-right: 0.3vw;
    border-right: 0.1vw solid #7c7c7c73;
    font-size: 1.2vh;
}

.github__container a,
.github__container a:hover,
.github__container a:visited,
.github__container a:focus {
    text-decoration: none;
    color: inherit;
}

.github__mark {
    width: 1vw;
}

.input__container {
    display: flex;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    margin-left: 0.1vw;
    width: 100%;
    max-height: 7.5%;
    font-size: 2vh;
}

.lee__input {
    width: 100%;
    max-height: 2vh;
    border: 0.1vw solid #aaaaaa;
    background: #ffffff;
    margin: 0vh 0.6vw 0vh 0.2vw;
    border-radius: 0.2vw;
    font-size: 1.5vh;
    transition: border 0.5s;
    font-family: "Consolas";
}

.lee__input:focus {
    outline: none;
    border: 0.1vw solid #555555;
}

.flex__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* https://stackoverflow.com/a/4407335 */
.no__select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  }