body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #302297;
    background-image: linear-gradient(to top right, #383442, #302297);
}

.lee__selection::selection {
    background: #8d8d8d;
}
  
.lee__container {
    font-family: 'Consolas', 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
    overflow: hidden;
    background-color: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 50vh;
    border-radius: 1vh;
    border: 0.1vw solid #c9c9c9;
    background: #c9c9c9;
}

.lee__chatlog__container {
    background: #ffffff;
    height: 94%;
    overflow: auto;
    scroll-behavior: smooth;
}

.lee__chatlog__container::-webkit-scrollbar {
    width: 1.5vh;
}

.lee__chatlog__container::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
    border: 5px solid white;
    border-radius: 15px;
}

.lee__chatlog__container::-webkit-scrollbar-thumb:hover {
    background-color: #afafaf;
}

.lee__chatlog__message__container {
    white-space: pre-wrap;
    margin: 0.6vh 0.5vh 0vh 0.5vh;
    display: flex;
    align-items: center;
    min-height: 2vh;
    border-radius: 0.4vw;
    font-size: 1.5vh;
}

.lee__chatlog__message__container:last-child {
    margin-bottom: 0.6vh;
}

.lee__message__identifier {
    font-weight: bold;
    margin-left: 0.5vw;
    max-width: 40%;
}

.lee__message__container {
    margin: 0.1vh 0.3vw 0vh 0.4vw;
    word-break: normal;
    overflow-wrap: anywhere;
}

.lee__self__message__container {
    background: #56668348;
}

.lee__user__message__container {
    background: #e6e5e55b;
}

.lee__footer__container {
    background: #c9c9c9;
    min-width: 100%;
    bottom: 0;
    position: absolute;
}

.lee__github__container {
    justify-content: center;
    height: 1vh;
    padding: 1vh;
    margin-right: 0.3vw;
    border-right: 0.1vw solid #7c7c7c73;
    font-size: 1.2vh;
}

.lee__github__container a,
.lee__github__container a:hover,
.lee__github__container a:visited,
.lee__github__container a:focus {
    text-decoration: none;
    color: inherit;
}

.lee__github__mark {
    width: 2vh;
}

.lee__input__container {
    display: flex;
    align-self: stretch;
    align-items: center;
    justify-content: flex-start;
    margin-left: 0.1vw;
    width: 100%;
    max-height: 7.5%;
    font-size: 2vh;
}

.lee__input {
    width: 100%;
    height: 2vh;
    border: 0.1vw solid #aaaaaa;
    background: #ffffff;
    margin: 0.075vh 0.6vw 0vh 0.2vw;
    border-radius: 0.2vw;
    font-size: 1.5vh;
    transition: border 0.5s;
    font-family: "Consolas";
}

.lee__input:focus {
    outline: none;
    border: 0.1vw solid #555555;
}

.lee__input__disabled {
    background-color: #dddddd;;
}

.lee__flex__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* https://stackoverflow.com/a/4407335 */
.lee__no__select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  }